@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&family=Kanit:wght@300;500&family=Prompt:wght@700&family=Space+Grotesk:wght@700&display=swap');

*{
    font-family: 'Kanit', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #202020;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    z-index: 1;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.8em;
}
.log {
    height: 20px;
    width: 30px;

}
.navi a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 400;
    font-size: 1.3em;
    padding-left: 20px;
    transition: 0.5s ;
}
.navi a:hover {
    transition: 0.5s ;
}
.dis {
    background-color: rgb(161, 36, 36);
    border-radius: 9999px;
    padding: 10px 20px;
    margin-left: 10px;
} 
.dis:hover {
    background-color: rgb(116, 23, 23);
    color: rgb(255, 255, 255);

}
section {
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display:flex ;
    align-items: center;
    background: url(https://mashhordev.github.io/portfolio/Assets/diluc.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.main h2 {
    color: aliceblue;
    font-family: 'Space Grotesk', sans-serif;
}
.main h2 span {
    color: rgb(202, 60, 60);
    font-size: 3em;
}
.main h3 {
    color: aliceblue;
    font-size: 1.5em;
    font-family: 'Space Grotesk', sans-serif;
    
}

.main-btn {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    background-color: rgb(202, 60, 60);
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: 1px;
    padding: 10px 30px;
    transition: 0.6s ease;


}
.main-btn:hover {
    box-shadow: 0 0 100px #292929;
    background-color: rgb(165, 42, 42);
    transform: scale(1.2);
    transition: 0.6s ease;
}

.social a {
    font-size: 1.7em;
    padding-left: 10px;
    color: aliceblue;
    transition: 0.5s;

}
.social a:hover {
    color: aqua;
    transition: 0.5s;
}
.title {
    color: #f1f1f1;
    font-size: 3.2em;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects {
    background-color: #202020;
}
.projects .container {
    margin-top: 20px;
}

.projectcard {
    background-color: #0f0f0f;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
    
}
.projectcard:hover {
    transform: scale(1.1);

}
.cardimage img {
    width: 100%;
    height: 100%;
}
.projectinfo {
    color: antiquewhite;
    padding: 1em;
}
.para {
    font-size: 0.8em;
}
.projecttitle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
}
.download {
    color: #f1f1f1;
    border-radius: 299990px;
    text-decoration: none;
    background-color: #292929;
    padding: 1em;
    letter-spacing: 1px;
    transition: 0.5s ease;
}
.download:hover {
    background-color: #963232;
}

.title-skills {
    justify-content: center;
    display: flex;
    letter-spacing: 2px;
    color: antiquewhite;
    font-size: 4.2em;
}
.skills {
    background-color: #1a1818;

}
.imgskills img {
    width: 200px;
    transition: 0.2s ease
}
.imgskills img:hover {
    transition: 0.2s ease;
    transform: scale(1.1);
}
.containerskills {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 10px 100px;
    display: flex;
    background-color: #292929;
    justify-content: space-between;
}
.footer h2 {
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(255, 255, 255);
}
.footer span {
    color: #a52828;
}
